[submodule "task"]
	path = ./task
	url = https://gitlab.com/bmstu_underwater_robotics/oop_prts.git
[submodule "src/task_3/tools/gtest"]
	path = src/task_3/tools/gtest
	url = git@github.com:google/googletest.git
